@{
    ViewData["Title"] = "about this";
}
<div class="row mb-3 justify-content-center border-bottom">
    <div class="col-md-auto mb-2">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<h3>
    Welcome to<img style="height:50px; width:250px; margin-left:-25px;" src="/images/logo.png" alt="">
</h3>
<p>
    This project was built using .NET MVC pattern. It started as an experimentation on using .NET framework. The project also an exercise of using C# knowledge for application development to the usual use for Unity3D game development.
</p>
<p>
    The project was deployed to Azure App Service with the database deployed to SQL Server. Deployment on Azure has its own pros and cons.
</p>
<ul>
    <h5>The pros:</h5>
    <li>
        The process was easy with multiple ways of doing it. You can use dotnet CLI or directly publish it from Visual Studio.
    </li>
    <li>
        Integrated suite. Microsoft done a good job by putting everything under one roof. Visual Studio is not just an IDE but also the bridge (in my own word) that link to Azure.
    </li>
    <li>
        Microsoft will open their data center here in New Zealand. By opening their data center here, more local companies will use their services. Learning this framework would be worth the time.
    </li>
    <li>
        Scalability. Easily scale your project using Docker containers. You can publish your project to containers without leaving Visual Studio.
    </li>
</ul>
<ul>
    <h5>The cons:</h5>
    <li>
        Not the cheapest. Compare to AWS free tier, Azure's free tier is more premium. I have to closely watch the quotas. Their base cost is also higher.
    </li>
    <li>
        Specific to Windows platform. The development are made easy in Windows platform. I hear many MacOS user don't have the same experience.
    </li>
</ul>
<p>
    I enjoyed developing this experimental project. As a result, I now have a place to jot down my notes.
</p>
<p>
    Abe
</p>