@{
    ViewData["Title"] = "Home Page";
}

<div class="container h-100 d-flex justify-content-center">
    <div class="my-auto">
        <div class="row">
            <div class="col-12">
                <img class="image-logo" src="/images/logo.png" alt="">
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <ul>
                    <li>a blog of a non-blogger</li>
                    <li>collection of footnotes</li>
                    <li>random thoughts</li>
                    <li>a step by step instructions</li>
                    <li>list of 'things'</li>
                </ul>
            </div>
        </div>
    </div>
</div>